# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild[s?]
[Ll]ibrary/
sysinfo.txt
hivemind_Data/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/*.pdb

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

# ================ #
# Editor generated #
# ================ #
*.blend[0-9]
.*.sw*
*~
\#*#

# =================================== #
# Binary assets (Google drive please) #
# =================================== #
# *.dae*
# *.obj*
# *.png*
# *.tga*
# *.mp3*
# *.wav*
# *.ttf*
assetUser.ini*
desktop.ini*

# ================ #
# Project Specific #
# ================ #
# fonts*
# textures*
# sprites*

# ===================== #
# Other Synchronization #
# ===================== #
.sync
